# ============
# LOGS / REPORTS
# ============
*.log
report.xml
output
tmp

# ============
# BUILDS
# ============
dist/*

# ============
# NODE_MODULES
# ============
node_modules


# ============
# IDEA
# ============
.idea
*.iml


